body {
  background-color: #2a092e;
}
.navbar-custom {
  background-color: transparent;
  transition: background-color 0.5s ease;
  z-index: 1030;
  position: fixed;
  width: 100%;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: whitesmoke;
  transition: transform 0.3s;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #800080;
  transform: scale(1.1);
}

.navbar-custom .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #800080;
  transition: width 0.3s;
}

.navbar-custom .navbar-nav .nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.navbar-custom.scrolled {
  background-color: #2a092e;
}

.image-section {
  position: relative;
  background-color: #2a092e;
  background-size: cover;
  height: 500px;
}

.image-section h1,
.image-section button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.image-section h1 {
  top: 25%;
}

.image-section p {
  top: 40%;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.image-section button {
  display: inline-block;
  text-decoration: none;
  top: 60%;
  border: 2px solid white;
}

.image-section button:hover {
  border: 2px solid #4c1e51;
  background-color: #4c1e51;
  transition: 1s;
  color: white;
}

.card {
  background-color: #3b1440;
}

.card-header,
.card-body {
  color: #d3d3d3;
}

.card-body .btn {
  display: block;
  margin: auto;
}

.btn-primary {
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  border: 2px solid #4e2b53;
  background-color: #4e2b53;
}

.btn-explore {
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 0.3s;
  width: 25%;
  position: relative;
  left: 425px;
}

.btn-explore:hover {
  background-color: #4c1e51;
}

.carousel-inner {
  background-color: #4c1e51;
  transition: all 0.3s ease;
  top: 10%;
  padding-left: 50px;
  padding-right: 50px;
}

.carousel-inner h5,
.carousel-inner p {
  color: #d3d3d3;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: -10px;
}

.carousel-control-next {
  right: -10px;
}

.text-center {
  padding: 20px;
}

.footer {
  background-color: #3b1440;
  position: relative;
  top: 50px;
}

.footer h5,
.footer p,
.footer a {
  color: #d3d3d3;
}
.footer a {
  width: 50px;
  position: relative;
  left: 100px;
}

.footer a:hover {
  color: #a64ca6;
}

.contact-page {
  background-color: #f8f8fa;
  padding: 20px;
}

.contact-page h2 {
  color: #333333;
}

.contact-page .form-control {
  border: 2px solid transparent;
  transition: border 0.3s;
  background-color: #cc99cc;
  color: #f8f9fa;
}

.contact-page .form-control:focus {
  border: 2px solid #993299;
  box-shadow: none;
}

.contact-page .btn-primary {
  border: 2px solid #800080;
  background-color: #800080;
  color: #f8f9fa;
  transition: background-color 0.3s;
}

.contact-page .btn-primary:hover {
  background-color: #993299;
}

/* Slide-in animation */
@keyframes slideIn {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(35);
  }
}

.image-section h1,
.image-section button,
.image-section p {
  animation: slideIn 2s;
}
